.gameWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  background: #fff;
  padding: 3em 4em 4em;
  box-shadow: 0 0 0.5em #222;
  border-radius: 2px;
}

.gameHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-weight: 700;
}

.gameHeader button {
  border: none;
  background-color: #2196f3;
  width: 5em;
  border-radius: 2rem;
  font-size: 20px;
  height: 2em;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.images {
  display: flex;
  flex-direction: row;
  padding: 3em 0em;
}

.playerChoiceWrapper .images div {
  margin: 20px;
  cursor: pointer;
}

.battle .images div {
  margin: 20px;
}

.images img {
  margin: 20px;
  max-height: 200px;
}

#rock {
  box-shadow: 0 0 0.5em rgb(230, 126, 7);
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  color: rgb(230, 126, 7);
}

#paper {
  box-shadow: 0 0 0.5em rgb(9, 195, 241);
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  color: rgb(9, 195, 241);
}

#scissors {
  box-shadow: 0 0 0.5em rgb(250, 0, 0);
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  color: rgb(250, 0, 0);
}

.rules {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(50, 50, 50, 0.5));
}

.text {
  font-size: 22px;
  line-height: 1.5;
  max-width: 70ch
}

.innerDiv {
  background-color: white;
  padding: 1em 3em 3em;
  border-radius: 5px;
}

.rulesHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #e5e5e5;
}

.rulesHeader button {
  font-weight: 800;
  border: none;
  font-size: larger;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: lightgray;
  cursor: pointer;
}

.rulesHeader h2 {
  font-size: 30px;
}

.playerChoiceWrapper {
  text-align: center;
}

.playerChoiceWrapper h2 {
  font-size: 30px;
}

.vs button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  height: 15%;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(250, 0, 0);
  font-size: 25px;
  cursor: pointer;
  font-weight: 700;
}

.result {
  text-align: center;
  font-size: 40px;
  line-height: 0.5;
  font-weight: 800;
}